__pycache__/
.env
.vscode
.ipynb_checkpoints
inference/darknet
*.weights
inference/data_training
inference/eventos
inference/yolo_inference
training/yolo_v2/yolo_training
training/yolo_v2/darknet
training/yolo_v2/checkpoints
training/yolo_v2/pre_training
