# librerias
opencv-python
python-dotenv

# Librerias para uso de ibmCloud
boto3==1.18.9
botocore==1.21.9
certifi==2021.5.30
charset-normalizer==2.0.3
ibm-cos-sdk==2.10.0
ibm-cos-sdk-core==2.10.0
ibm-cos-sdk-s3transfer==2.10.0
idna==3.2
jmespath==0.10.0
python-dateutil==2.8.2
requests==2.26.0
s3transfer==0.5.0
six==1.16.0
urllib3==1.26.6


